ol {
    background-color: yellow;
}
li.par {
    color: green;
}
li.impar {
    text-transform: capitalize;
}
h1, h3 {
    color: red;
}

h1, h3 em {
    font-size: 40px;
    border: 1px black solid;
}

li { 
    font-size: 20px;
}

li em {
    font-weight: 600;
}