.super-mario {
    width: 200px;
    display: block;  
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
        position: relative;
        bottom: 15cm;
        left: 6cm
  }
  
  .speach {
    font-size: 25px;
    position: relative;
    bottom: 12cm;
    left: 65mm;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: relative;
    bottom: 6cm;
    left: 12cm;
  }