.super-mario {
    width: 200px;
    display: block;  
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
    position: relative;
    top: 30mm;
    left: 6mm;
  }
  
  .bowser {
    width: 200px;
  }