ol {
    background-color: yellow;
}
li.par {
    color: green;
}
li.impar {
    text-transform: capitalize;
}
h1, h3 {
    color: red;
}

h1, h3 em {
    font-size: 40px;
    border: 1px black solid;
}

li { 
    font-size: 20px;
}

li em {
    font-weight: 600;
}

ul.linguagens li:first-child,ul.linguagens li:nth-child(2),ul.linguagens li:nth-child(3) {
    color: blue;
}

li.java {
    background-color: pink;
}

ul li a:hover {
    font-weight: 600;
}

#stack:hover {
    color: orange;
}

#w3:hover {
    color: green;
}

#mdn:hover {
    color: black;
}

#dev:hover {
    color: yellow;
}

#trybe:hover {
    color: green;
}